<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="color-scheme" content="dark" />
        <title>{% block title %}corvus.gent{% endblock %}</title>
        <link rel="icon" type="image/png" href="/_assets/logo.png" />
        <link rel="stylesheet" href="/_assets/main.css" />
    </head>
    <body>
        <main>
            <div class="wrap">{% block content %}{% endblock %}</div>
        </main>
    </body>
</html>
